<div class="row"> 
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [showUnits]="false" 
    [title]="'HTML'"
    [titleColor]="'#F5CBA7'"
    [titleFontSize]="'15px'"
    [showImage]="true"
    [imageWidth]="70"
    [imageHeight]="60"
    [radius]="100"
    [imageSrc]="'../assets/logo html.png'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#E67E22'"
    [animation]="true"
    [animationDuration]="700"
  ></circle-progress> 
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [showUnits]="false" 
        [title]="'HTML'"
        [titleColor]="'#F5CBA7'"
        [titleFontSize]="'15px'"
        [showImage]="true"
        [imageWidth]="70"
        [imageHeight]="60"
        [radius]="100"
        [imageSrc]="'../assets/logo html.png'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#E67E22'"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress> 
        </div>

        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [showUnits]="false" 
            [title]="'HTML'"
            [titleColor]="'#F5CBA7'"
            [titleFontSize]="'15px'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="60"
            [radius]="100"
            [imageSrc]="'../assets/logo html.png'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#E67E22'"
            [animation]="true"
            [animationDuration]="700"
          ></circle-progress> 
            </div>

            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="85"
                [showUnits]="false" 
                [title]="'HTML'"
                [titleColor]="'#F5CBA7'"
                [titleFontSize]="'15px'"
                [showImage]="true"
                [imageWidth]="70"
                [imageHeight]="60"
                [radius]="100"
                [imageSrc]="'../assets/logo html.png'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#E67E22'"
                [animation]="true"
                [animationDuration]="700"
              ></circle-progress> 
                </div>

                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="85"
                    [showUnits]="false" 
                    [title]="'HTML'"
                    [titleColor]="'#F5CBA7'"
                    [titleFontSize]="'15px'"
                    [showImage]="true"
                    [imageWidth]="70"
                    [imageHeight]="60"
                    [radius]="100"
                    [imageSrc]="'../assets/logo html.png'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#E67E22'"
                    [animation]="true"
                    [animationDuration]="700"
                  ></circle-progress> 
                    </div>

                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                        [percent]="85"
                        [showUnits]="false" 
                        [title]="'HTML'"
                        [titleColor]="'#F5CBA7'"
                        [titleFontSize]="'15px'"
                        [showImage]="true"
                        [imageWidth]="70"
                        [imageHeight]="60"
                        [radius]="100"
                        [imageSrc]="'../assets/logo html.png'"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="5"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#E67E22'"
                        [animation]="true"
                        [animationDuration]="700"
                      ></circle-progress> 
                        </div>

</div>

