<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 "> 
            <h2>Portfolio Argentina Programa</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quo beatae, aliquid fuga non tenetur facilis saepe odio laudantium ab dolores veritatis eos, error id, voluptas iure. Aliquam, sit placeat.</p>
    
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1">
            <img src="" alt=""> 
        </div>
    </div>
  </div>
  
