<div class="row"> 
    <h1> Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>

            <li>
                <h1>primero</h1>-<h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ducimus exercitationem illum veritatis mollitia laudantium repellat rerum ut esse totam distinctio qui, dolorem ab dolore nostrum saepe odit repudiandae ratione.</p>

            <li>
                <h1>primero</h1>-<h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ducimus exercitationem illum veritatis mollitia laudantium repellat rerum ut esse totam distinctio qui, dolorem ab dolore nostrum saepe odit repudiandae ratione.</p>

            <li>
                <h1>primero</h1>-<h3>(year)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet ducimus exercitationem illum veritatis mollitia laudantium repellat rerum ut esse totam distinctio qui, dolorem ab dolore nostrum saepe odit repudiandae ratione.</p>
            
        
        </ul>
    </div>
</div>
