<div class="row">
    <div class="container">
        <div class="logo">
<img src="../../../assets/APLogo.png" id="logoA">
        </div>

        <div class="redes">
                <a href=""><img src="../../../assets/linkedin.png" class="ima" id="linkedin"></a>
                <a href=""><img src="../../../assets/facebook.png" class="ima" id="facebook"></a>
                <a href=""><img src="../../../assets/instagram.png" class="ima" id="intagram"></a>
                <a href=""><img src="../../../assets/twitter.png" class="ima" id="twitter"></a>
                <a href="/"><img src="../../../assets/github.png" class="ima" id="github"></a>
            <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
            </div>
    </div>
</div>         