<div class="row">
    <div id="perfil" class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/yo.jpg"  class="img-fluid">
    </div>
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">  </p>
        <p>Full Stack Developer Jr</p>
    </div>
   
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta expedita modi, atque earum error saepe. Pariatur doloribus doloremque quis, ea voluptas aut consequuntur, quibusdam rem modi quaerat nemo ipsa dolorum!</p>
    </span>
</div>

</div>
